Source: kayna
Section: misc
Priority: optional
Maintainer: Mohammad Razavi <mrazavi64@gmail.com>
Build-Depends: debhelper (>= 9.0.0), dh-systemd
Standards-Version: 3.9.5
Homepage: http://kayna.ir

Package: kayna-runner-tools
Architecture: any
Section: metapackages
Depends: kayna-docker, kayna-host-agent, kayna-triggers
Description: tools to setup debian packaging with GitLab CI (metapackage)
 GitLab Continuous Integration (CI) is part of the GitLab project to build,
 test and deploy the developing system while pushing the source code to the
 git server.
 .
 Kayna provoides a set of tools to facilitate building debian packages with
 GitLab CI.

Package: kayna-docker
Architecture: any
Pre-Depends: adduser (>= 3.11)
Depends: ${shlibs:Depends}, ${misc:Depends}, docker.io
Recommends: gitlab-ci-multi-runner, kayna-host-agent
Description: tools to setup debian packaging with GitLab CI
 GitLab Continuous Integration (CI) is part of the GitLab project to build,
 test and deploy the developing system while pushing the source code to the
 git server.
 .
 Kayna provoides a set of tools to facilitate building debian packages with
 GitLab CI.
 .
 This package facilitates building docker images for compiling the Debian
 packages.

Package: kayna-host-agent
Architecture: any
Pre-Depends: adduser (>= 3.11), openssl
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.7.1), python (<< 2.8)
Description: tools to setup debian packaging with GitLab CI
 GitLab Continuous Integration (CI) is part of the GitLab project to build,
 test and deploy the developing system while pushing the source code to the
 git server.
 .
 Kayna provoides a set of tools to facilitate building debian packages with
 GitLab CI.
 .
 This package installs a host agent to orchestrate and be used by docker
 containers.

Package: kayna-triggers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>= 2.7.1), python (<< 2.8)
Description: tools to setup debian packaging with GitLab CI
 GitLab Continuous Integration (CI) is part of the GitLab project to build,
 test and deploy the developing system while pushing the source code to the
 git server.
 .
 This package installs a service that could be used to connect GitLab web
 hooks to GitLab CI triggers.

Package: kayna-gitlab-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gitlab-ce | gitlab-ee
Description: tools to setup debian packaging with GitLab CI
 GitLab Continuous Integration (CI) is part of the GitLab project to build,
 test and deploy the developing system while pushing the source code to the
 git server.
 .
 This package changes the GitLab CI git hooks to set a hidden tag on the git
 pushed commits that can be used to separate build jobs in .gitlab-ci.yml
 file with "only" and "except" part of jobs.
